:root {
  --primary-color: #193576;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700
}

p, li {
  font-size: 1.5rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.navbar {
  font-size: 1.5rem;
}

.nav-link {
  color: var(--primary-color) !important;
}

.img-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  color: var(--primary-color);
}

.hero::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/home/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%) opacity(50%);
}

.hero .fas {
  margin-top: 2rem;
  font-size: 3rem;
}

.section {
  padding: 5rem 0;
}

.theme-dark {
  background-color: var(--primary-color);
  color: #fff;
}

.theme-light {
  background-color: #fff;
  color: var(--primary-color);
}

.discipline {
  padding: 2rem;
}

.discipline h2 {
  text-align: center;
  margin-bottom: 4rem;
}